body {
    text-align: center;
    background: #333237;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 25vh;
}

h1 {
  color: #FAFAFA;
  font-weight: 100;
  font-size: 3rem;
  margin: 40px 0px 20px;
}

#clockdiv {
    position:relative;
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 9rem;
    z-index: 9999;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.3);
    display: inline-block;
}

#clockdiv div > span {
    padding: 0.1em;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.3);
    display: inline-block;
}

.smalltext {
    padding-top: 0.5em;
    font-size: 1.5rem;
    opacity: 0.8;
}

.bar-container {
    background-color: rgba(0,0,0,0.3);
    width: 93%;
    padding: 1em;
    border-radius: 3px;
}
.bar {
    position: relative;
    background: red;
    height: 0.1em;
    left: 0;
    border-radius: 3px;
}

#matrix-logo {
    position: absolute;
    float: left;
    left:0;
    top:0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: url(matrix-logo.png) -50em no-repeat;
    background-size: 100%;
    opacity: 0.03;
}
